<head>
    <title>Ledgr | Admin Page</title>
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../../favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../adminstyles.css">
    <style media="screen">

     body {
       display: flex;
       min-height: 100vh;
       flex-direction: column;
     }

    main {
     flex: 1 0 auto;
    }
     </style>
</head>
<body>

  <header>
<nav>

    <div class="nav-wrapper blue">
        <a href="./adminlanding" class="brand-logo">
            <img src="../../LEDGR-02.png" class="logo">
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="material-icons">menu</i>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/admin/updatecategories">Update Product Categories</a></li>
            <li><a href="/admin/updateproducts">Update Products</a></li>
            <li><a href="/admin/stockonhand">Stock On Hand</a></li>
            <li><a href="/contactus">Contact Us</a></li>
            <li><form class="valign-wrapper" action="/adminLogOut" method="post">
                    <a><button class="btn-flat white-text">Log Out</button></a>
                </form>
            </li>

        </ul>
    </div>

</nav>
<ul class="sidenav" id="mobile-demo">
    <li><a href="/admin/updatecategories">Update Product Categories</a></li>
    <li><a href="/admin/updateproducts">Update Products</a></li>
    <li><a href="/admin/stockonhand">Stock On Hand</a></li>
    <li><a href="/contactus">Contact Us</a></li>
    <li><form class="valign-wrapper" action="/adminLogOut" method="post">
            <a><button class="btn-flat white-text">Log Out</button></a>
        </form>
    </li>
</ul>
</header>



<main>


<h1>Welcome to Ledgr!</h1>
<div class="container">
    <div class="row">
      <p>Ledgr is helping small to medium sized businesses manage inventory and the store’s online presence in an easy to use application. The app allows business owners to update and manage inventory and automates record keeping, sales records, and product information on the web with a few clicks.</p>

      <p>Update Product Catergories allows store owners to update and manager the types clothing according to gender.</p>

      <p>Update Products allows users to give detailed information about each product that can be updated on the store’s website with a click of the button. All inventory reduction and sales records are automatically captured at the point of sale for the users to review.</p>

      <p>Stock On Hand allows store owner to quickly recognize what products are selling fast and allows the user to update the product orders and inventory seamlessly.</p>
    </div>
</div>
</main>


<footer class="page-footer blue">

    <div class="footer-copyright">
        <div class="container">
            © 2018 Copyright Dream Team

        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script src="../../layout.js"></script>

</body>
