<head>
    <title>Ledgr | Update Categories</title>
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../../favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../adminstyles.css">
</head>
<body>
  <style media="screen">

   body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
   }

  main {
   flex: 1 0 auto;
  }
   </style>
   <header>

<nav>
    <div class="nav-wrapper blue">
        <a href="./adminlanding" class="brand-logo">
            <img src="../../LEDGR-02.png" class="logo">
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="material-icons">menu</i>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="active"><a href="./updatecategories">Update Product Categories</a></li>
            <li><a href="./updateproducts">Update Products</a></li>
            <li><a href="./stockonhand">Stock On Hand</a></li>
            <li><a href="/contactus">Contact Us</a></li>
            <li><form class="valign-wrapper" action="/adminLogOut" method="post">
              <a><button class="btn-flat white-text">Log Out</button></a>
            </form>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/admin/updatecategories">Update Product Categories</a></li>
    <li><a href="/admin/updateproducts">Update Products</a></li>
    <li><a href="/admin/stockonhand">Stock On Hand</a></li>
    <li><a href="/contactus">Contact Us</a></li>
    <li><form class="valign-wrapper" action="/adminLogOut" method="post">
            <a><button class="btn-flat white-text">Log Out</button></a>
        </form>
    </li>
</ul>
</header>

<main>



<div class="container">
  <h1>Update Your Categories</h1>
    <div class="row">
        <form action="./updatecategories" method='POST'>
            <div class="input-field">
                <i class="small material-icons prefix">wc</i>
                <input id="productCategory" type="text" name="productCategory" />
                <label for="productCategory">Product Category</label>
            </div>
            <div class="input-field">
                <div class="input-field">
                    <i class="small material-icons prefix">wc</i>
                    <select name="productGender">
                        <option value="" disabled selected>Product Gender</option>
                        <option value="Men's">Men's</option>
                        <option value="Women's">Women's</option>
                        <option value="Children's">Children's</option>
                    </select>
            </div>
            <button class="btn-large waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>
</main>
<footer class="page-footer blue">

    <div class="footer-copyright">
        <div class="container">
            © 2018 Copyright Dream Team

        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script src="../../layout.js"></script>
</body>
