<head>
    <title>Ledgr | Update Products</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="public/adminstyles.css">
</head>
<body>

<nav>
    <div class="nav-wrapper cyan accent-4">
        <a href="./adminlanding" class="brand-logo">
            <i class="large material-icons prefix">business</i>
            Ledgr
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="./updatecategories">Update Product Categories</a></li>
            <li class="active"><a href="./updateproducts">Update Products</a></li>
            <li><a href="./stockonhand">Stock On Hand</a></li>
            <li><a href="/contactus">Contact Us</a></li>
            <li><form action="/adminLogOut" method="post">
              <a><button>Logout</button></a></li>
            </form>
        </ul>
    </div>
</nav>

<div class="container">
  <h1>Update Your Products</h1>
    <div class="row">
        <form action='/updateproducts' method='POST'>
              <label for="productCategory">Product Category</label>
              <div class="input-field">
                <select id="productCategoryID" class="browser-default" name="productCategoryID">
                  <option value="" disabled selected>Choose your option</option>
                  {{#cats}}
                  <option name="productCategoryID" value={{id}}>{{productCategory}} | {{productGender}}</option>
                  {{/cats}}
                </select>
              </div>
            </div>
            <div class="input-field">
                <i class="small material-icons prefix">accessibility</i>
                <input id="productName" type="text" name="productName" />
                <label for="productName">Product Name</label>
            </div>
            <div class="input-field">
                <i class="small material-icons prefix">add_to_photos</i>
                <input id="productSize" type="text" name="productSize" />
                <label for="productSize">Product Size</label>
            </div>
            <div class="input-field">
                <i class="small material-icons prefix">monetization_on</i>
                <input id="productPrice" type="text" name="productPrice" />
                <label for="productPrice">Product Price</label>
            </div>
            <div class="input-field">
                <i class="small material-icons prefix">palette</i>
                <input id="productColor" type="text" name="productColor" />
                <label for="productColor">Product Color</label>
            </div>
            <div class="input-field">
                <i class="small material-icons prefix">photo_camera</i>
                <input id="productURL" type="text" name="productURL" />
                <label for="productURL">Product Image URL</label>
            </div>
            <div class="input-field">
                <i class="small material-icons prefix">plus_one</i>
                <input id="productQuantity" type="text" name="productQuantity" />
                <label for="productQuantity">Product Quantity</label>
            </div>
            <button class="btn-large waves-effect waves-light" type="submit" name="action">
                Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>

<footer class="page-footer cyan accent-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Lorem Footer</h5>
                <p class="grey-text text-lighten-4">Lorem ipsum dolor amet affogato seitan magna, iPhone dolore post-ironic distillery skateboard typewriter pinterest meggings narwhal. Venmo enamel pin sint echo park pabst, migas brooklyn consequat activated charcoal jianbing twee occupy meditation tumblr hell of. Bitters viral migas austin fanny pack 90's health goth. Mixtape umami fugiat hell of.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2018 Copyright Dream Team

        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
</body>
