<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h2>Sign In</h2>
    <form action="/adminSignIn" method="post">
      <label for="adminUsernameSI">Username: </label>
      <input class="textinput" type="text" name="adminUsernameSI" placeholder="Username...">

      <label for="adminPasswordSI">Password: </label>
      <input class="textinput" type="text" name="adminPasswordSI" placeholder="Password...">
      <input class="submitBtnSI" type="submit" />
    </form>

  </body>
</html>
