<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="../../favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../../favicon-16x16.png" sizes="16x16" />
    <title></title>
  </head>
  <body>

    <h2>Sign Up</h2>
    <form action='/adminSignUp' method='post'>
      <label for="adminUsername">Username: </label>
      <input class="textinput" type="text" name="adminUsername" placeholder="Username...">

      <label for="password">Password: </label>
      <input class="textinput" type="text" name="adminPassword" placeholder="Password...">
      <input class="adminSubmitBtn" type="submit" />
    </form>

    <h2>Sign In</h2>
    <form action="/adminSignIn" method="post">
      <label for="adminUsernameSI">Username: </label>
      <input class="textinput" type="text" name="adminUsernameSI" placeholder="Username...">

      <label for="adminPasswordSI">Password: </label>
      <input class="textinput" type="text" name="adminPasswordSI" placeholder="Password...">
      <input class="submitBtnSI" type="submit" />
    </form>

  </body>
</html>
