<head>
    <link rel="icon" type="image/png" href="../../favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../../favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../adminstyles.css">
</head>
<body>
  <style media="screen">

   body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
   }

  main {
   flex: 1 0 auto;
  }
   </style>
<header>

<nav>
    <div class="nav-wrapper blue">
        <a href="./adminlanding" class="brand-logo">
            <img src="../../LEDGR-white.png" class="logo">
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="material-icons">menu</i>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="admin/updatecategories">Update Product Categories</a></li>
            <li><a href="admin/updateproducts">Update Products</a></li>
            <li><a href="admin/stockonhand">Stock On Hand</a></li>
            <li class="active"><a href="/contactus">Contact Us</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/admin/updatecategories">Update Product Categories</a></li>
    <li><a href="/admin/updateproducts">Update Products</a></li>
    <li><a href="/admin/stockonhand">Stock On Hand</a></li>
    <li><a href="/contactus">Contact Us</a></li>
    <li><form class="valign-wrapper" action="/adminLogOut" method="post">
            <a><button>Logout</button></a>
        </form>
    </li>
</ul>
</header>

<main>



<h1>Contact Us!</h1>
<div class="container">
    <div class="row">
        <p class="contact">We'd love to hear from you! We welcome your praise and encouragement, as well as your suggestions for improvement.</p>
        <form action='/contactus' method='POST'>
            <div class="input-field">
                <i class="small material-icons prefix">account_circle</i>
                <input id="contactName" type="text" name="contactName" />
                <label for="contactName">Name</label>
            </div>
            <div class="input-field">
                <i class="small material-icons prefix">email</i>
                <input id="contactEmail" type="email" name="contactEmail" />
                <label for="contactEmail">Email</label>
            </div>
            <div class="input-field">
                <i class="small material-icons prefix">edit</i>
                <textarea id="contactComment" type="text" name="contactComment" placeholder="Thanks for your input!">
                </textarea>
            </div>
            <button class="btn-large waves-effect waves-light" type="submit" name="action">
                Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>
</main>
<footer class="page-footer blue">

    <div class="footer-copyright">
        <div class="container">
            © 2018 Copyright Dream Team

        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script src="../../layout.js"></script>
</body>
