<head>
    <head>
    <meta charset="utf-8">
    <title>Sign Up / Sign In</title>
    <link rel="icon" type="image/x-icon" href="../discofavicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Permanent+Marker|Varela|Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../storestyles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  </head>


</head>
<body>
<!-- Navbar -->
  <body>
    <nav>
    <div class="nav-wrapper black">
      <a href="/index" class="brand-logo">Stylephile</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/index">Home</a></li>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/login">Sign In</a></li>
        <li><a href="/sessions/productpage">Shop</a></li>
      </ul>
    </div>
  </nav>

<!-- Hamburger -->
  <ul class="sidenav" id="mobile-demo">
    <li>
      <div class="background">
        <img src="https://i.imgur.com/Hh7vjNX.jpg">
      </div>
    </li>
    <li><a href="/index">Home</a></li>
    <li><a href="/signup">Sign Up</a></li>
    <li><a href="/login">Sign In</a></li>
    <li><a href="/sessions/productpage">Shop</a></li>
  </ul>

<div class="body-picture responsive">

  <div class="row valign-wrapper">
  <div class="col s12 m6 offset-m3">
    <div class="card white">
      <div class="card-content black-text">
        <span class="card-title center text-black">Login</span>
        <div class="row">
          <form action="/login" method="post" class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <label for="usernameSI">Username: </label>
                <input class="textinput" type="text" name="usernameSI">
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                    <label for="passwordSI">Password: </label>
                    <input class="textinput" type="password" name="passwordSI">
                    <button class="btn-large waves-effect waves-light red accent-2" type="submit" name="action">
                  Submit
                  <i class="material-icons right">send</i>
                </button>
                  </form>
              </div>
              <div class="container center">
                <p>Don't have an account? <a href='signin'>Create one for free!</a></p>
              </div>
            </div>

        </div>
      </div>
      </div>
    </div>
  </div>

</div>

<!--start of the footer -->
<footer class="page-footer black">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Stylephile</h5>
          <p class="grey-text text-lighten-4">We're your hookup for all of your sartorial needs. We obsessively curate the best and the boldest fashions from around the globe, and bring it straight to you. No matter where you're going, we'll make sure that you arrive there in style.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="/index">Home</a></li>
            <li><a class="grey-text text-lighten-3" href="/sessions/productpage">Shop</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2018 Dream Team
      <a class="grey-text text-lighten-4 right" href="/adminSignIn">Admin</a>
      </div>
    </div>
  </footer>

</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
    <script src="AnimOnScroll.js"></script>
    <script src="../../layout.js"></script>
